<span class="error-message" data-main-page-error></span>
<header class="header">
  <p>User: <span data-user-name></span></p>
  <h3>Fan Chat</h3>
  <div>
    <button class="about-page-button" type="button" data-about-page-button>About</button>
    <button data-logout-button>Log out</button>
  </div>
</header>
<main>
  <p>Users:</p>
  <ul class="list-of-users" data-list-of-users>
    <li class="list-of-users__single-user" data-list-of-users-signle-user></li>
    <ul class="list-of-users__active" data-list-of-active-users></ul>
    <ul class="list-of-users__inactive" data-list-of-inactive-users></ul>
  </ul>
</main>

<footer class="footer">
  <div class="RSS-logo-wrapper">
    <img class="logo-img" src="../../assets/RSS-logo.png" alt="RSS logo" /> <span>RS School</span>
  </div>
  <a href="https://github.com/mark-pribylnov" target="_blank">Mark Pribylnov</a>
  <span>2026</span>
</footer>
